@import "tailwindcss";

html{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    overflow-x: hidden;
    overscroll-behavior: none; /* Prevents bounce effect on scroll */
    background-color: #000;
}